{block #menu}
<div class="well span4">
	<ul class="nav nav-list">
	{foreach $menu as $pageLabel => $pageData}
		{continueIf !sizeof($pageData)}
		{if sizeof($pageData) == 1 && $pageData[0]['method'] == ''}
			<li{ifCurrent this, page => $pageData[0]['page'], method => ''} class="active"{/ifCurrent}><a href="{plink this, page => $pageData[0]['page'], method => ''}">{_$pageLabel}</a></li>
		{else}
			<li class="nav-header">{_$pageLabel}</li>
			<li n:foreach="$pageData as $data"{ifCurrent this, page => $data['page'], method => $data['method']} class="active"{/ifCurrent}><a href="{plink this, page => $data['page'], method => $data['method']}">{_$data['label']}</a></li>
		{/if}
	{/foreach}
	</ul>
</div>
{/block}